.bg-custom {
  background-image: linear-gradient(15deg, #cc2b5e  0%, #753a88 100%);
  padding-left: 6.7%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

.coolbtn{
  background: linear-gradient(#FFF,#FFF) padding-box, linear-gradient(to right, #cc2b5e 0%, #753a88 100%) border-box;
    border: 3px solid transparent;
    color: #000;
    background-color: white;
    border-radius: 15px;
    margin-top: 60px;
    font-weight: 600;
    font-size: 14px;
    padding: 7px 22px;
    transition: all .5s ease;
    margin: auto;
    margin-top: 10px;
    font-size: larger;
}
.coolbtn:hover{
  background: linear-gradient(to right, #cc2b5e 0%, #753a88 100%);
    border: 3px solid transparent;
    color: #FFF;
    transition: all .5s ease;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.btncol{
  padding: 0;
}

.main{
    margin:auto;
  }

.tablestuff{
  padding: 1% 0%;
 }

  th{
    background-image: linear-gradient(15deg, #cc2b5e  0%, #753a88 100%);
    color: white;
    text-align: center;
  }
  
h4 {
    margin: 2rem 0rem 1rem;
  }

.card{
  height: 120px;
  border: 3px solid transparent;
  border-radius: 15px;
  background: linear-gradient(#FFF,#FFF) padding-box, linear-gradient(to right, #cc2b5e 0%, #753a88 100%) border-box;
}

#viewDiv {
  padding: 1.45% 0%;
  width: 100%;
  height: 100%;
}

#viewDivB{
        position:absolute;
        right: 40%;
        top: 100%;
        bottom: 0;
        left: 0;
        width: 60%;
        height: 100%;
}

#otherDiv {
    padding: 0;
    margin-left: 20rem;
    height: 60%;
    width: 60%;
    display: none;
  }

#infoDiv {
    padding: 10px;
    width: 275px;
  }
#sliderValue{
    font-weight: bolder;
  }
#legendDiv{
    width: 260px;
  }
#description{
    padding: 10px 0 10px 0;
  }
  #panel {
    position: absolute;
    right: 0;
    height: 100%;
    width: 40%;
    overflow: scroll;
  }

  #num-homicides {
    color: #f0f0f0;
    font-size: 36pt;
    font-weight: bolder;
    line-height: 0.8;
  }
  #avg-age {
    color: #10a3d9;
    font-size: 20pt;
    font-weight: bolder;
  }
  #avg-open-time {
    color: #b3ff10;
    font-size: 20pt;
    font-weight: bolder;
  }
  
