.card:hover{
    color: green;
}
#viewDiv {
        padding: 0;
        margin-left: 20rem;
        height: 60%;
        width: 60%;
}

#otherDiv {
    padding: 0;
    margin-left: 20rem;
    height: 60%;
    width: 60%;
    display: none;
  }
  #infoDiv {
    padding: 10px;
    width: 275px;
  }
  #sliderValue{
    font-weight: bolder;
  }
  #legendDiv{
    width: 260px;
  }
  #description{
    padding: 10px 0 10px 0;
  }

